:root{
   --ancho: 100%;
}

#contacto{
		width: 60%;
    height: 60vh;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: black;
}
.area{
    width: 60%;
    height: 70vh;
    background-color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: #182153;
}
#contacto{
	 text-align: center;
}

.cajastexto{
	width: 98%;
	left: 0;
	height: 25px;
	border: 1;
	margin-left: 5px;
	margin-right: 5px;
  text-align: center;
}

.boton{
  font-size: 16px;
	border-radius: 0 0 0 15px;
  padding: 10px 30px;
  max-width:275px
	width: 50%;
	left: 25%;
	height: 32px;
	background-color: #D31024;
	color: #ffffff;
	border: 0;
	margin-left: 25%;
  margin-right: 25%;
}
.boton:hover{
	background-color: #9ba9c3;
	color: black;
}
.divImg{
  padding: 2px 7px 2px 7px;
}